body{
    background: #333;
    color: cyan;
    
}
h1{
    text-align: center;
    text-shadow: 0 0 9px ;
}
.intro{
    width: 60vw;
    text-align: center;
    border: 1px solid rgb(50, 50, 179);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-size: larger;
}
h1 span{
    color: aliceblue;
    text-shadow: 0 0 0px
}

.drag
{    margin: auto;
    width: fit-content;
    height: 200px;
    border: 2px dotted red;
    display: flex;    
    align-items: center;
    flex-direction: column;
    padding: 4px;
    justify-content: space-around;
    flex-wrap: wrap;
margin-top: 44px;
cursor: pointer;
position: relative;
font-size: large;
text-shadow: 0 0 2px;
}
.drag:hover{
    cursor: pointer;
}
.drag img
{ z-index: -1;
    opacity: 50%;
    height: 70%;
    position: absolute;
    cursor: pointer;
}
.upload
{
    margin-top: 20px;
    display: flex;

    justify-content: center;
}
.upload button
{
    color: darkred;
    padding: 4px;
    background-color: lightseagreen;
}
.displayF{
    margin-top: 20px;
display: flex;
position: fixed;
width: 90vw;
height: 50px;
}
.displayF img{
    height: 100%;
    width: 100%;

}
.displayF div{
    width: 50px;
    margin-right: 20px;
}

